* {
    margin: 0%;
    padding: 0%;
}

main {
    height: 100vh;
    width: 100vw;
}

.left {
    height: 100%;
    width: 50%;
    display: inline-block;
    background-color: blueviolet;
    background-image: url("jungle.jpg");
    background-size: cover;
}

.right {
    height: 100%;
    width: 50%;
    display: inline-block;
    background-color: brown;
    background-image: url("city.jpg");
    background-size: cover;
}

.left .overlay {
    display: flex;
    justify-content: center;
    font-size: 100px;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.right .overlay {
    display: flex;
    justify-content: center;
    font-size: 100px;
    align-items: center;
    font-family: :Georgia, 'Times New Roman', Times, serif;

}

.overlay {
    margin-top: 300px;
    color: #caedf7;
    margin-left: 100px;
}